#smime-message,
#messagebody div #smime-message
{
color: #2c363a;
}

div.smime-warning > i.icon::before,
#messagebody div.smime-warning > i.icon::before,
div.smime-notice > i.icon::before,
#messagebody div.smime-notice > i.icon::before {
    content: '\f573'; /* page with signature+pen at bottom */
}

#smime-message a
{
color: #666666;
padding-left: 10px;
}

#smime-message a:hover
{
color: #333333;
}
